# <center> Singapore Data Science Academy In-Class Practice 2 </center>
---
#### Today's topic covers on collections and iterations. Get a hang of it, this skill will be very important and definitely needed in data manipulation!

## Conditionals

In [1]:
a = 3
if a > 0:
    print('good')
    print('job!')

good
job!

In [2]:
a = 6
if a > 0:
    print('Hello')
else:
    print('Bye')

Hello

In [3]:
a = -3
if a > 0:
    print('Hello')
elif a == 0:
    print('Bye')
else:
    print('See you!')

See you!

In [4]:
a = 4
if a > 0:
    print('yes')
elif a == 0:
    print('no')
elif a == 4:
    print('idk') 
else:
    print('what?!')

yes

In [5]:
a = 1
if a > 0:
    print('yes')
elif a == 0:
    print('no')
if a == 4:
    print('idk') 
else:
    print('what?!')

yes
what?!

## Logical Operators

In [6]:
a = 3
if a == 2 or a > 0: #False or True --> True
    print('GO')
else:
    print('STOP')

GO

In [7]:
a = 3
if a == 2 and a > 0: #False and True --> False
    print('GO')
else:
    print('STOP')

STOP

## Practice 1 - Recall Last's week qns

XYZ Telecommunications has a dynamic data fee whereby:
Users with less than 100MB usage will not be charged
Subsequent 100MB â€“ 200MB(exclusive) will be charged at $0.05/MB
Data usage of more than or equal to 200MB will be charged at $0.15/MB

Write a python program to calculate the data fee for:
louis: louis_data = 785MB
sheryl: sheryl_data = 198MB
dad: dad_data = 5MB

### One way to this

In [8]:
louis_data = 785
sheryl_data = 198
dad_data = 5

#You need to change louis to sheryl and to dad to calculate for each of them, very troublesome
if louis_data < 100:
        print("You do not need to pay anything")
elif louis_data < 200:
        amount = (louis_data -99)*0.05
        print("You need to pay $%s" % round(amount,2))
else:
        amount = (louis_data -199)*0.15+100*0.05
        print("You need to pay $%s" % round(amount,2))

You need to pay $92.9

### Another way to this which you will learn soon (Writing Function)

In [84]:
louis_data = 785
sheryl_data = 198
dad_data = 5

In [85]:
def data_fee_calculator(data_usage):
    if data_usage < 100:
        print("You do not need to pay anything")
    elif data_usage < 200:
        amount = (data_usage-99)*0.05
        print("You need to pay $%s" % round(amount,2))
    else:
        amount = (data_usage-199)*0.15+100*0.05
        print("You need to pay $%s" % round(amount,2))

In [86]:
data_fee_calculator(louis_data)
data_fee_calculator(sheryl_data)
data_fee_calculator(dad_data)

You need to pay $92.9
You need to pay $4.95
You do not need to pay anything

In [91]:
temp_dict = {"louis":785,"dad":5,"sheryl":198}

In [104]:
sorted(temp_dict.items(),key=lambda kv:kv[1])

[('dad', 5), ('sheryl', 198), ('louis', 785)]

In [88]:
def family_fee_calculator(dict_object):
    for data in dict_object.values():
        data_fee_calculator(data)

In [89]:
family_fee_calculator(temp_dict)

You need to pay $92.9
You do not need to pay anything
You need to pay $4.95

In [90]:
#testing our function with corner cases
data_fee_calculator(0)
data_fee_calculator(99)
data_fee_calculator(100)
data_fee_calculator(199)
data_fee_calculator(200)

You do not need to pay anything
You do not need to pay anything
You need to pay $0.05
You need to pay $5.0
You need to pay $5.15

## Practice 2

In [13]:
wealth = 100
attractive = 200
if wealth > 50 and  attractive > 100:
    print('Yes please!')
elif wealth > 50 and attractive < 100:
    print('Maybe?')
else:
    print('pass')

Yes please!

## Python List Methods

append() - Add an element to the end of the list<br>
extend() - Add all elements of a list to the another list<br>
insert() - Insert an item at the defined index<br>
remove() - Removes an item from the list<br>
pop() - Removes and returns an element at the given index<br>
clear() - Removes all items from the list<br>
index() - Returns the index of the first matched item<br>
count() - Returns the count of number of items passed as an argument<br>
sort() - Sort items in a list in ascending order<br>
reverse() - Reverse the order of items in the list<br>
copy() - Returns a shallow copy of the list<br>
len() - Returns number of items in list<br>
max() - Returns largest element<br>
min() - Returns smallest element<br>
sum() - Returns sum of integers in the list

In [14]:
earnings = [20, 40, 21]

In [15]:
#append() - Add an element to the end of the list
earnings.append(999)

In [16]:
earnings

[20, 40, 21, 999]

In [17]:
temp = [1000,1001]

In [18]:
#extend() - Add all elements of a list to the another list
earnings.extend(temp)

In [19]:
earnings

[20, 40, 21, 999, 1000, 1001]

In [20]:
#insert() - Insert an item at the defined index
earnings.insert(1,100000)

In [21]:
earnings

[20, 100000, 40, 21, 999, 1000, 1001]

In [22]:
#remove() - Removes an item from the list
earnings.remove(20)

In [23]:
earnings

[100000, 40, 21, 999, 1000, 1001]

In [24]:
#pop() - Removes and returns an element at the given index
earnings.pop(2)

21

In [25]:
earnings

[100000, 40, 999, 1000, 1001]

In [26]:
#clear() - Removes all items from the list
earnings.clear()

In [27]:
earnings

[]

In [28]:
earnings = [20, 20, 40]

In [29]:
#index() - Returns the index of the first matched item
earnings.index(20)

0

In [30]:
#count() - Returns the count of number of items passed as an argument
earnings.count(20)

2

In [31]:
earnings.append(20)

In [32]:
earnings.count(20)

3

In [33]:
#sort() - Sort items in a list in ascending order
earnings.sort()

In [34]:
earnings

[20, 20, 20, 40]

In [35]:
#reverse() - Reverse the order of items in the list
earnings.reverse()

In [36]:
earnings

[40, 20, 20, 20]

In [37]:
#copy() - Returns a shallow copy of the list
earnings_copy = earnings.copy()

In [38]:
earnings

[40, 20, 20, 20]

In [39]:
earnings_copy

[40, 20, 20, 20]

In [40]:
#len() - Returns number of items in list
len(earnings)

4

In [41]:
#max() - Returns largest element
max(earnings)

40

In [42]:
#min() - Returns smallest element
min(earnings)

20

In [43]:
#sum() - Returns sum of integers in the list
sum(earnings)

100

In [44]:
temp = ['hello', 'hi'] #list of two strings

In [45]:
sum(temp) #sum function cannot work for strings

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Practice 3

In [46]:
earnings = [20, 40, 21, 35.1, 66, 84, 39 ,23.3]

In [47]:
average_amount = sum(earnings)/len(earnings)

In [48]:
round(average_amount,2)

41.05

## Class 2B

## Practice 1

In [49]:
name_list = ['tom', 'brad', 'haley', 'may', 'tom', 'lola', 'tom', 'brad']

In [50]:
dic_list = {}

for name in name_list:    
    if name not in dic_list:        
        dic_list[name] = 1    
    else:        
        dic_list[name] += 1 #dic_list[name] = dic_list[name] +1

print(dic_list)

{'tom': 3, 'brad': 2, 'haley': 1, 'may': 1, 'lola': 1}

## Practice 2

In [51]:
Words = ['the', 'clown', 'ran', 'after', 'the', 'car', 'and', 'the', 'car', 'ran', 'into', 'the', 'tent', 'and', 'the', 'tent', 'fell', 'down', 'on', 'the', 'clown', 'and', 'the', 'car']

In [52]:
dic_list = {}

for name in Words:    
    if name not in dic_list:        
        dic_list[name] = 1    
    else:        
        dic_list[name] += 1 #dic_list[name] = dic_list[name] +1

print(dic_list)

{'the': 7, 'clown': 2, 'ran': 2, 'after': 1, 'car': 3, 'and': 3, 'into': 1, 'tent': 2, 'fell': 1, 'down': 1, 'on': 1}

## Practice 3

In [53]:
temp = {'NOC': [1000, 5000, 3000], 'wah': [2333, 2445, 9000]}

In [54]:
new_list =[temp["NOC"][0], temp["wah"][0]]

In [55]:
new_list

[1000, 2333]

In [56]:
temp['NOC'] = sum(temp['NOC'])
temp['wah'] = sum(temp['wah'])

In [57]:
temp

{'NOC': 9000, 'wah': 13778}

## Practice 4

In [58]:
name_list = [ {"name": "Tom", "age": 10}, {"name": "Mark", "age": 5}, {"name": "Pam", "age": 7} ]

In [59]:
kid = "dummy"
age = 1000
for i in name_list:
    if i["age"]<age:
        age = i["age"]
        kid = i["name"]
print(kid)
print(age)

Mark
5

## Practice 5

In [60]:
name_list = [ {"name": "Tom", "age": 10}, {"name": "Mark", "age": 5}, {"name": "Pam", "age": 7} ]

In [61]:
new_name_list = []
for i in name_list:
    new_name_list.append([i["name"],i["age"]])

In [62]:
new_name_list

[['Tom', 10], ['Mark', 5], ['Pam', 7]]

In [63]:
name_list = ['the', 'clown', 'ran', 'after', 'the', 'car', 'and', 'the', 'car', 'ran', 'into', 'the', 'tent', 'and', 'the', 'tent', 'fell', 'down', 'on', 'the', 'clown', 'and', 'the', 'car']
dic_list = {}
for name in name_list:    
    if name not in dic_list:        
        dic_list[name] = 1    
    else:        
        dic_list[name] += 1